html,
body {
  height: 100%;
  background-color: #eee;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
#wrap > .container {
  padding: 50px 15px 0;
}
.container .credit {
  margin: 20px 0;
}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
code {
  font-size: 80%;
}
.well {
  background: transparent;
  border: none;
  border-radius: 0;
  border-top: 1px solid #eee;
  box-shadow: none;
  padding: 9px;
  margin: 0;
}
.navbar-form.navbar-right {
  margin: 8px 40px 8px 0;
}
dd > p {
  margin: 0;
}
.cs-main {
  background-color: #fff;
  padding: 0 30px;
}
.cs-main h3.cs-header {
  background-color: #eee;
  margin: 10px -30px 30px -30px;
  padding: 30px 0 10px;
}
.cs-main h4.cs-header {
  background-color: #f6f6f6;
  margin: 0;
  padding: 10px 9px;
}
.cs-main .cs-defined {
  margin: 10px 9px;
}
.cs-main pre {
  border: none;
  border-radius: 0;
  background-color: #fffaed;
}
.cs-main > .cs-class > .cs-methods > .cs-builtin.cs-inherited {
  display: none;
}
.cs-main > .cs-methods > .cs-methods > li.cs-builtin {
  display: none;
}
.cs-main dl.cs-arguments {
  margin-top: 0;
}
.cs-main dl.cs-arguments dt {
  text-align: left;
}
.cs-main .cs-arguments-title {
  font-weight: bold;
  margin: 15px 0 0 0;
  color: #ccc;
}
.cs-nav {
  padding-top: 15px;
}
.cs-nav h5 {
  padding: 15px 0 5px 10px;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #aaa;
}
.cs-nav h5 > a {
  color: #aaa;
}
.cs-nav ul > li > a {
  padding: 5px 10px;
}
@media (max-width:767px) {
  .cs-main h3 {
    padding-left: 40px;
  }
}
